// MAIN Antonio =====================================
@font-face {
  font-family: 'Antonio Bold';
  font-style: normal;
  font-display: swap;
  src: url('assets/fonts/Antonio/AntonioBold.ttf');
}

@font-face {
  font-family: 'Antonio Light';
  font-style: normal;
  font-display: swap;
  src: url('assets/fonts/Antonio/AntonioLight.ttf');
}

// MAIN Gotham ======================================
@font-face {
  font-family: 'Gotham Book';
  font-style: normal;
  font-display: swap;
  src: url('assets/fonts/Gotham/GothamBook.ttf');
}

@font-face {
  font-family: 'Gotham Bold';
  font-style: normal;
  font-display: swap;
  src: url('assets/fonts/Gotham/GothamBold.ttf');
}

@font-face {
  font-family: 'Gotham Light';
  font-style: normal;
  font-display: swap;
  src: url('assets/fonts/Gotham/GothamLight.ttf');
}

@font-face {
  font-family: 'Gotham Medium';
  font-style: normal;
  font-display: swap;
  src: url('assets/fonts/Gotham/GothamMedium.ttf');
}
